{% extends 'base.html'%}
{% import 'macro.html' as macro%}
{% block title %}Home{% endblock %}

{% block main %}
    <div class="container">
        <div class="row mt-2"></div>
        <div class="row mt-2"></div>
        <div class="row mt-2"></div>
        <div class="row mt-2"></div>
        <div class="row mt-2"></div>
        <div class="row mt-2"></div>
        <div class="row mt-2"></div>
        <div class="row mt-2"></div>
        <div class="row mt-2"></div>
        <div class="row mt-2"></div>
        <div class="row mt-1">
            <div class="col-sm-6">
                <img src="{{character.thumbnail.path}}/landscape_incredible.jpg" alt="">
            </div>
            <div class="col-sm-6">
                <h2>{{character.name}}</h2>
                <p>{{character.description}}</p>
                <a href="{{url_for('main.char_comics', id=character.id)}}">Comics for  {{character.name}}</a>
            </div>
        </div>
        <div class="row mt-1" style="width: 80%; margin: 0 auto;">
            <div class="col-sm-7">
                {{macro.displayComments(comments)}}
            </div>
            <div class="col-sm-5">
                    <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModa">Comment on {{character.name}}</button>
                
                <!-- Modal -->
                <div class="modal fade" id="commentModa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{character.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form action="/char/{{character.id}}/comment" method="POST">
                                <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="title">
                                </div>
                                </div>
                                <div class="form-group row" class="col-sm-2 col-form-label">
                                    <label for="content">Content</label>
                                    <div class="col-sm-10">
                                        <textarea name="content" class = "form-control" id=""></textarea>
        
                                    </div>
                                </div>                          
                                
                                <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-secondary" >Submit</button>
                                </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    

{% endblock%}%  