{% extends 'base.html'%}
<!-- {% import 'macro.html' as macro%} -->
{% block title %}Home{% endblock %}

{% block main %}
 <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('../../static/img/2449572.jpg'); background-repeat: no-repeat; background-size: cover;">
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                               
            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4 animated slideInDown">
                <strong>Content</strong>
              </h1>

              <p class="animated slideInLeft">
                <strong>JOIN US</strong>
              </p>

              <p class="mb-4 d-none d-md-block animated slideInRight">
                <strong>CONTENT</strong>
              </p>

              <a target="_blank" href="" class="btn btn-outline-white btn-lg  animated slideInUp">SIGN uP<i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/1166291.png'); background-repeat: no-repeat; background-size: cover; background-position: center; background-position: top;">
<!--  -->
<!-- https://wallpapercave.com/wp/4fEj7xe.jpg -->
<!--  -->
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4 animated slideInDown">
                <strong>Content</strong>
              </h1>

              <p class="animated slideInLeft">
                <strong>JOIN US</strong>
              </p>

              <p class="mb-4 d-none d-md-block animated slideInRight">
                <strong>CONTENT</strong>
              </p>

              <a target="_blank" href="" class="btn btn-outline-white btn-lg  animated slideInUp">SIGN uP<i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/444014.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4 animated slideInDown">
                <strong>Content</strong>
              </h1>

              <p class="animated slideInLeft">
                <strong>JOIN US</strong>
              </p>

              <p class="mb-4 d-none d-md-block animated slideInRight">
                <strong>CONTENT</strong>
              </p>

              <a target="_blank" href="" class="btn btn-outline-white btn-lg  animated slideInUp">SIGN uP<i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/2388627.jpg'); background-repeat: no-repeat; background-size: cover;">
<!--  -->
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4 animated slideInDown">
                <strong>Content</strong>
              </h1>

              <p class="animated slideInLeft">
                <strong>JOIN US</strong>
              </p>

              <p class="mb-4 d-none d-md-block animated slideInRight">
                <strong>CONTENT</strong>
              </p>

              <a target="_blank" href="" class="btn btn-outline-white btn-lg  animated slideInUp">SIGN uP<i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!-- fourth slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('https://www.androidcentral.com/sites/androidcentral.com/files/styles/w830/public/article_images/2020/04/dualsense-ps5-xbox-series-x-controller-half.jpg?itok=3QSl5umH'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4 animated slideInDown">
                <strong>Content</strong>
              </h1>

              <p class="animated slideInLeft">
                <strong>JOIN US</strong>
              </p>

              <p class="mb-4 d-none d-md-block animated slideInRight">
                <strong>CONTENT</strong>
              </p>

              <a target="_blank" href="" class="btn btn-outline-white btn-lg  animated slideInUp">SIGN uP<i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!-- fifth slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/black_red_Spider_Man_artwork_Marvel_Comics_black_background_2560x1600.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>

        </div>
      </div>
      <!-- sixth slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/54686.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <!-- seventh slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/123511.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <!-- /seventh slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/526.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/55583.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <!-- ninth slide -->
      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/222198.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <!-- tenth slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/38395.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <!-- elevent slide -->

      
    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>
  <!--/.Carousel Wrapper-->
  <main class="mt-5 pt-5">
    <div class="container">
        <hr class="my-5">
        <!--Section: Cards-->
        <section class="text-center">
            <!--Grid row-->
            <div class="row mb-4 wow fadeIn">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">
                      <!--Card image-->
                      <div class="view overlay">
                          <img src="../../static/img/6361.jpg" class="card-img-top" alt="">
                          <a href="" target="_blank">
                              <div class="mask rgba-white-slight"></div>
                          </a>
                      </div>
                      <!--Card content-->
                      <div class="card-body">
                          <!--Title-->
                          <h4 class="card-title">TEXT</h4>
                          <!--Text-->
                          <p class="card-text">TEXT</p>
                          <a href="../../static/img/2267275.jpg" target="_blank" class="btn btn-primary btn-md">TEXT
                              <i class="fas fa-play ml-2"></i>
                          </a>
                      </div>

                  </div>  
                    <!--/.Card-->
                </div>
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay">
                            <img src="../../static/img/140263.jpg" class="card-img-top" alt="">
                            <a href="" target="_blank">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">TEXT</h4>
                            <!--Text-->
                            <p class="card-text">TEXT</p>
                            <a href="" target="_blank" class="btn btn-primary btn-md">TEXT
                                <i class="fas fa-play ml-2"></i>
                            </a>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay">
                            <img src="../../static/img/54689.jpg" class="card-img-top" alt="">
                            <a href="" target="_blank">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">TEXT</h4>
                            <!--Text-->
                            <p class="card-text">TEXT</p>
                            <a href="/char/1009610" class="btn btn-primary btn-md">TEXT
                                <i class="fas fa-play ml-2"></i>
                            </a>
                        </div>
                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
                </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!--Section: Cards-->
    </div>
</main>
<!--Main layout-->


  



        
         <!-- Footer -->
  <footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
          <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
          <p>
            <a href="#!">MDBootstrap</a>
          </p>
          <p>
            <a href="#!">MDWordPress</a>
          </p>
          <p>
            <a href="#!">BrandFlow</a>
          </p>
          <p>
            <a href="#!">Bootstrap Angular</a>
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!">Shipping Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
  
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
  
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
  
          <!--Copyright-->
          <p class="text-center text-md-left">© 2020 Copyright:
            <a href="">
              <strong> Comic</strong>
            </a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
  
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  </div>

{% endblock%}%  
