{% extends 'base.html'%}
<!-- {% import 'macro.html' as macro%} -->
{% block title %}Home{% endblock %}

{% block main %}
<main>
 <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('../../static/img/2449572.jpg'); background-repeat: no-repeat; background-size: cover;">
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                               
            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4 animated slideInDown">
                <strong>Content</strong>
              </h1>

              <p class="animated slideInLeft">
                <strong>JOIN US</strong>
              </p>

              <p class="mb-4 d-none d-md-block animated slideInRight">
                <strong>CONTENT</strong>
              </p>

              <a target="_blank" href="" class="btn btn-outline-white btn-lg  animated slideInUp">SIGN UP<i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/1166291.png'); background-repeat: no-repeat; background-size: cover; background-position: center; background-position: top;">
<!--  -->
<!-- https://wallpapercave.com/wp/4fEj7xe.jpg -->
<!--  -->
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4 animated slideInDown">
                <strong>Content</strong>
              </h1>

              <p class="animated slideInLeft">
                <strong>JOIN US</strong>
              </p>

              <p class="mb-4 d-none d-md-block animated slideInRight">
                <strong>CONTENT</strong>
              </p>

              <a target="_blank" href="" class="btn btn-outline-white btn-lg  animated slideInUp">SIGN uP<i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/444014.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4 animated slideInDown">
                <strong>Content</strong>
              </h1>

              <p class="animated slideInLeft">
                <strong>JOIN US</strong>
              </p>

              <p class="mb-4 d-none d-md-block animated slideInRight">
                <strong>CONTENT</strong>
              </p>

              <a target="_blank" href="" class="btn btn-outline-white btn-lg  animated slideInUp">SIGN uP<i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/2388627.jpg'); background-repeat: no-repeat; background-size: cover;">
<!--  -->
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4 animated slideInDown">
                <strong>Content</strong>
              </h1>

              <p class="animated slideInLeft">
                <strong>JOIN US</strong>
              </p>

              <p class="mb-4 d-none d-md-block animated slideInRight">
                <strong>CONTENT</strong>
              </p>

              <a target="_blank" href="" class="btn btn-outline-white btn-lg  animated slideInUp">SIGN uP<i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!-- fourth slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('https://www.androidcentral.com/sites/androidcentral.com/files/styles/w830/public/article_images/2020/04/dualsense-ps5-xbox-series-x-controller-half.jpg?itok=3QSl5umH'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4 animated slideInDown">
                <strong>Content</strong>
              </h1>

              <p class="animated slideInLeft">
                <strong>JOIN US</strong>
              </p>

              <p class="mb-4 d-none d-md-block animated slideInRight">
                <strong>CONTENT</strong>
              </p>

              <a target="_blank" href="" class="btn btn-outline-white btn-lg  animated slideInUp">SIGN uP<i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!-- fifth slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/black_red_Spider_Man_artwork_Marvel_Comics_black_background_2560x1600.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>

        </div>
      </div>
      <!-- sixth slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/54686.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <!-- seventh slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/123511.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <!-- /seventh slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/526.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/55583.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <!-- ninth slide -->
      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/222198.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <!-- tenth slide -->

      <div class="carousel-item">
        <div class="view" style="background-image: url('../../static/img/38395.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;">
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
          </div>
        </div>
      </div>
      <!-- elevent slide -->

      
    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>

</main>
  <div class="container">
  <hr class="my-5">
  <!-- Section: Features v.1 -->
  <section id="products" class="text-center wow fadeIn" data-wow-delay="0.3s">

      <!-- Section heading -->
      <h1 class="font-weight-bold text-center h1 my-5 wow fadeInDown">We offer awesome products</h1>
      <!-- Section description -->
      <p class="text-center grey-text mb-5 mx-auto w-responsive lead wow fadeInRight">Get your Comics, Movies & Games </p>

      <!-- Grid row -->
      <div class="row">

          <!-- Grid column -->
          <div class="col-md-4 mb-4 wow fadeInUp">
             <i class="fas fa-5x fa-book-open space deep-orange-text"></i>
              <h4 class="font-weight-bold my-4">Comics</h4>
              <p class="grey-text">Comic books have long been a part of our culture. These days, they power Hollywood’s summer blockbusters. But they existed long before then, and there’s a century worth of comic books to find, collect, and read.</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 mb-4 wow fadeInUp">
              <i class="fas fa-5x fa-film amber-text"></i>
              <h4 class="font-weight-bold my-4">TV SHOWS</h4>
              <p class="grey-text">Explore the characters and stories that shape Marvel TV!. <br> If not they are available on netflix</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 mb-4 wow fadeInUp">
            <i class="fab fa-5x fa-playstation grey-text"></i>
              <h4 class="font-weight-bold my-4">GAMES</h4>
              <p class="grey-text">Plug into the pulse-pounding pursuits of Marvel Games! These games include browser games for both your computer and mobile devices, as well as apps for your Android and iOS phones and tablets.</p>
          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

  </section>
  <!-- Section: Features v.1 -->
</div>



<div class="container">
  <hr class="my-5">
  <section>
    <h2 class="my-5 h3 text-center  wow fadeInDown">...and even more</h2>

    <!--First row-->
    <div class="row features-small mt-5 wow fadeIn">

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6  wow fadeInUp">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fas fa-question fa-2x mb-1 red-text" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">Technical support</h5>
            <p class="grey-text mt-2">We care about reliability. If you have any questions - do not hesitate to
              contact us.
            </p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->


      <!--Grid column-->
      <div class="col-xl-3 col-lg-6  wow fadeInUp">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fas fa-level-up-alt fa-2x mb-1 light blue-text" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">Frequent updates</h5>
            <p class="grey-text mt-2">Marvel becomes better every month. We love the project and enhance as much as
              possible.
            </p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6  wow fadeInUp">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fas fa-comments fa-2x mb-1 camel-text" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">Active community</h5>
            <p class="grey-text mt-2">Our society grows day by day. Visit our forum and check how it is to be a
              part of our family.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6  wow fadeInUp">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fas fa-cubes fa-2x mb-1 -text" style="color: #6BFFB8;" aria-hidden="true"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">Modularity</h5>
            <p class="grey-text mt-2">Marvel comes with lots compiled and  ready to use
              accessories at an affordable price.</p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
    </div>
  </section>

</div>

<script>
  new WOW().init();
</script>

  <!--/.Carousel Wrapper-->
    <div class="container mt-2 pt-5">
        <hr class="my-5">
        <!--Section: Cards-->
        <section class="text-center">
          <h2 class="my-5 h3 text-center">View some characters</h2>
            <!--Grid row-->
            <div class="row mb-4 wow fadeIn">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card animated wow fadeInRight">
                      <!--Card image-->
                      <div class="view overlay">
                          <img src="../../static/img/2124034.png" class="card-img-top" alt="">
                          <a href="">
                              <div class="mask rgba-white-slight fadeInRight"></div>
                          </a>
                      </div>
                      <!--Card content-->
                      <div class="card-body">
                          <!--Title-->
                          <h4 class=" card-title">CAPTAIN MARVEL</h4>
                          <!--Text-->
                          <p class="card-text">Captain Marvel gained the power of the photon energy she accidentally absorbed. As a result, she can fly.</p>
                          <a href="/char/1010338" class="btn btn-primary btn-md waves-effect">view
                            <i class="far fa-eye"></i>
                          </a>
                      </div>

                  </div>  
                    <!--/.Card-->
                </div>
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 wow fadeInDown">
                    <!--Card-->
                    <div class="card fadeIn">
                        <!--Card image-->
                        <div class="view overlay">
                            <img src="../../static/img/6361.jpg" class="card-img-top" alt="">
                            <a href="" target="_blank">
                                <div class="mask rgba-white-slight fadeInLeft"></div>
                            </a>
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">DEADPOOL</h4>
                            <!--Text-->
                            <p class="card-text">Deadpool also possesses superhuman levels his strength, agility, and reflexes are also beyond the natural limits of the human body.</p>
                            <a href="" class="btn btn-primary btn-md waves-effect">view
                              <i class="far fa-eye"></i>
                            </a>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                  <!--Card-->
                  <div class="card fadeIn wow fadeInRight">
                      <!--Card image-->
                      <div class="view overlay">
                          <img src="../../static/img/1166143.jpg" class="card-img-top" alt="">
                          <a href="" >
                              <div class="mask rgba-white-slight"></div>
                          </a>
                      </div>
                      <!--Card content-->
                      <div class="card-body">
                          <!--Title-->
                          <h4 class="card-title">THANOS</h4>
                          <!--Text-->
                          <p class="card-text">He uses the gems to create the Infinity Gauntlet and erases half the living things in the universe to prove his love to Death.</p>
                          <a href="" class="btn btn-primary btn-md waves-effect">view
                            <i class="far fa-eye"></i>
                          </a>
                      </div>

                  </div>
                  <!--/.Card-->
              </div>
              
              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">
                <!--Card-->
                <div class="card wow fadeInLeft">
                    <!--Card image-->
                    <div class="view overlay">
                        <img src="../../static/img/2388626.jpg" class="card-img-top" alt="">
                        <a href="" target="_blank">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">BLACK WIDOW</h4>
                        <!--Text-->
                        <p class="card-text">Powers and Abilities: Master in the covert arts of espionage, infiltration. Expert martial artist, with exceptional agility & athletic ability.</p>
                        <a href="" class="btn btn-primary btn-md waves-effect">view
                          <i class="far fa-eye"></i>
                        </a>
                    </div>

                </div>
                <!--/.Card-->
            </div>
            
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
              <!--Card-->
              <div class="card wow fadeInDown">
                  <!--Card image-->
                  <div class="view overlay">
                      <img src="../../static/img/1534115.jpg" class="card-img-top" alt="">
                      <a href="" target="_blank">
                          <div class="mask rgba-white-slight"></div>
                      </a>
                  </div>
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">HAWKEYE</h4>
                      <!--Text-->
                      <p class="card-text">A master marksman and longtime friend of Black Widow, Clint Barton serves as the Avengers' amazing archer. An expert marksman and fighter.</p>
                      <a href="" class="btn btn-primary btn-md waves-effect">view
                        <i class="far fa-eye"></i>
                      </a>
                  </div>

              </div>
              <!--/.Card-->
          </div>
          
          <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                    <!--Card-->
                    <div class="card wow fadeInRight">
                        <!--Card image-->
                        <div class="view overlay">
                            <img src="../../static/img/55583.jpg" class="card-img-top" alt="">
                            <a href="" target="_blank">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">CAPTAIN AMERICA</h4>
                            <!--Text-->
                            <p class="card-text">Captain America has agility, strength, speed, endurance, and reaction time superior to any Olympic athlete.The Super-Soldier formula that he has metabolized all of his bodily functions.</p>
                            <a href="/char/1009610" class="btn btn-primary btn-md">view
                              <i class="far fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
                </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!--Section: Cards-->
    </div>

<!--Main layout-->





  
<div class="container">
<!--Section heading-->
<h2 class="font-weight-bold text-center h1 my-5  wow fadeInDown">Contact us</h2>
<!--Section description-->
<p class="text-center grey-text mb-5 mx-auto w-responsive  wow fadeInDown">Text</p>

<div class="row">

  <!--Grid column-->
  <div class="col-md-8 col-xl-9">
    <form>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6">
          <div class="md-form">
            <input type="text" id="contact-name" class="form-control">
            <label for="contact-name" class="">Your name</label>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6">
          <div class="md-form">
            <input type="text" id="contact-email" class="form-control">
            <label for="contact-email" class="">Your email</label>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row">
        <div class="col-md-12">
          <div class="md-form">
            <input type="text" id="contact-Subject" class="form-control">
            <label for="contact-Subject" class="">Subject</label>
          </div>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-12">

          <div class="md-form">
            <textarea type="text" id="contact-message" class="md-textarea form-control" rows="3"></textarea>
            <label for="contact-message">Your message</label>
          </div>

        </div>
      </div>
      <!--Grid row-->

    </form>

    <div class="text-center text-md-left my-4">
      <a class="btn btn-light-blue btn-rounded">Send</a>
    </div>
  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-4 col-xl-3  wow fadeInRight">
    <ul class="contact-icons text-center list-unstyled">
      <li><i class="fas fa-map-marker fa-2x"></i>
        <p>Location</p>
      </li>

      <li><i class="fas fa-phone fa-2x"></i>
        <p>Number</p>
      </li>

      <li><i class="fas fa-envelope fa-2x"></i>
        <p>Email</p>
      </li>
    </ul>
  </div>
  <!--Grid column-->

</div>

</section>
<!--Section: Contact v.2-->

</div>

</main>
<!--Main Layout-->
</div>



<div class="wow fadeInRight" id="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8583826326635!2d36.80115818936344!3d-1.256872732700663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f176d5245a81d%3A0x6980c9c6d698d244!2sWestgate%20Shopping%20Mall!5e0!3m2!1sen!2ske!4v1590072374876!5m2!1sen!2ske" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>




        
         <!-- Footer -->
  <footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 wow fadeInUp">
          <h6 class="text-uppercase mb-4 font-weight-bold slideInRight">Company name</h6>
          <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 wow fadeInUp">
          <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
          <p>
            <a href="#!">MDBootstrap</a>
          </p>
          <p>
            <a href="#!">MDWordPress</a>
          </p>
          <p>
            <a href="#!">BrandFlow</a>
          </p>
          <p>
            <a href="#!">Bootstrap Angular</a>
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 wow fadeInUp">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!">Shipping Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 wow fadeInUp">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
  
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
  
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
  
          <!--Copyright-->
          <p class="text-center text-md-left">© 2020 Copyright:
            <a href="">
              <strong> Comic</strong>
            </a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!-- 
  <script>
    new WOW().init();
  </script> -->

{% endblock%}%  
