<!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="{{url_for('main.index')}}"><img src="../static/images/logo_transparent.png" width="50" height="50" loading= 'lazy' alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('main.index')}}" style="color: white;">Home <span class="sr-only">(current)</span></a>
        </li>                  
        
      </ul>
      <ul class="navbar-nav ml-auto">        
      </ul>          
    </div>
  </nav> -->
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand animated slideInDown" href="" target="_blank">
        <strong>MARVELS</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link animated slideInDown" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link animated slideInDown" href="{{url_for('main.index')}}" target="_blank">COMICS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link animated slideInDown" href="" target="_blank">GAMES</a>
          </li>
          <li class="nav-item animated slideInDown">
            <a class="nav-link" href="" target="_blank">GET YOUR COMICS</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="" class="nav-link animated slideInDown" target="_blank">
              <i class="fab fa-xbox"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link animated slideInDown" target="_blank">
              <i class="fab fa-playstation"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link border border-light rounded animated slideInDown"
              target="_blank">
              <i class="fas fa-spider"></i> MARVEL</a>
          </li>
        </ul>

      </div>

    </div>
  </nav>