<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark elegant-color scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="/" >
        <strong>MARVEL</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/characters">Characters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comics">Games</a>
          </li>
          
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="" class="nav-link" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{current_user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('main.profile', name=current_user.username)}}" style="color: black;">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('auth.logout')}}" style="color: black;">Sign out</a>
                </div>
                </li>
            {% else %}
            <li class="nav-item">
              <a href="/signup" class="nav-link border border-light rounded">
                <i class="fas fa-spider"></i>Sign up
              </a>
            </li>
            {% endif %}

          
        </ul>

      </div>

    </div>
  </nav>
  <style type="text/css">
    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
      }
    }

  </style>
